@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

#__next,
main {
  width: 100%;
  min-width: 100%;
  background-color: #FFFFFF;
}
